* {
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FDFDFD;
  color: #242525;
  font-family: 'Calibri', sans-serif;
  /*font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;*/
}

p {
  color: #666464;
    font-size: 18px;
    line-height: 2rem

}

h1 {
  font-size: 3.2rem;
}

h3 {
  color: #4b4949;
}

/* animation */
/*.animated-letter {
  display: inline-block;
  font-size: 1.5em;
  transition: color 0.3s, transform 0.3s;
}

.animated-letter:hover {
  color: red; 
  transform: scale(1.2); 
}*/

/* Keyframes for animation */
@keyframes colorChange {
  0% {
    color: red;
  }

  50% {
    color: rgb(37, 35, 35);
  }

  100% {
    color: red;
  }
}

.animated-name {
  cursor: pointer;
  animation: colorChange 2s infinite;
}

.animated-name:hover {
  color: red;
  animation-play-state: paused;
}

#header {
  padding-bottom: 1%;
}

.container {
  padding: 10px 10%;
}

.container-1 {
  padding: 10px 10%;
}

/*----NAVBAR----*/
nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 30px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #0B1C26;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #E0144C;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 2%;
  font-size: 30px;
  position: relative;
  z-index: 2;
  text-align: left;
}

.header-text h1 {
  position: relative;
  font-family: 30px;
  margin-top: 75px;
  z-index: 2;
}

.header-text h1 span {
  color: #E0144C;
}

.column {
  flex: 1;
  padding: 0 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*padding-top: 2%;*/
}

.hero {
  width: 60%;
  margin-left: 10%;
  background: #f1eeee;
}

dl, ol, ul {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* -------about---------- */
#about {
  padding: 20px 0;
  color: #0B1C26;
  line-height: 1.5rem;
  /*text-align: justify;*/
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 5px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 30px;
  font-weight: 400;
  color: #0B1C26;
  margin-top: 5px;
  margin-bottom: 50px;
  /*text-decoration: underline;*/
  text-align: center;
}

.sub-title {
  font-size: 32px;
  font-weight: 400;
  color: #585757;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #E0144C;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.experience {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex-basis: 30%;
}

.label {
  font-weight: bold;
}

.content {
  font-style: 'arial', sans-serif;
  color: #0B1C26;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}



/* --------services-------- */
#services {
  padding: 30px 0;
}

.services-list p {
  line-height: 1.5 rem;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.services-list div a {
  text-decoration: none;
  color: #0B1C26;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #bcb8b8;
  transform: translateY(-10px);
}

a:hover span {
  font-weight: 500;
  color: #E0144C;
}

/* ------portfolio------- */
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #E0144C);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #E0144C;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #0B1C26;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: inline-block;
  font-size: 18px;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #E0144C;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s, color 0.2s;
}

.btn:hover {
  background: #E0144C;
  color: #ccc;
  box-shadow: 3px 3px 3px rgba(3, 3, 3, 0.3);
}

/* ------------contact---------- */
#contact {
  background-color: #0B1C26;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
  color: #FDFDFD;
}

.contact-left p i {
  color: #E0144C;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #E0144C;
  
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ababab;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #E0144C;
  text-justify: center;
}

.contact-right form {
  width: 100%;
}

form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0;
  color: #0B1C26;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #FDFDFD;
  font-weight: 300;
  /*margin-top: 20px;*/
  background-color: #0B1C26;
  color: #fff;
}

.copyright i {
  color: #E0144C;
}

/* css for mobile/small screens */
nav .fa-solid {
  display: none;
}

.pic {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #header {
    background-image: url(Images/phonebaground.png);
  }

  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #E0144C;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 1000;
    transition: right 0.5s;
  }

  nav ul li a {
    display: block;
    margin: 25px;
    color: #ffffff;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    color: #ffffff;
  }

  .sub-title {
    font-size: 1.4rem;
  
  }

  .about-col-1, .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left, .contact-right {
    flex-basis: 100%;
  }

  .btn.btn2 .container {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
  }

  .column {
    flex: 100%;
    padding: 10px 0;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 300px;
  text-align: center;
  margin: 10px;
}

.product img {
  max-width: 100%;
  height: auto;
}
.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}


.product a {
  color: #3e3d3d;
  text-align: center;
}

/*ux-section */

.expanded {
  overflow: visible;
  white-space: normal;
  display: block;
}

.toggle-text {
  color: blue;
  cursor: pointer;
}

/*Arrow*/
.arrow-list {
  list-style-type: none;
}

.arrow-list li::before {
  content: "\25B8";
  font-size: 18px;
  margin-right: 10px;
  color: #e0144c;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #fff;
}

.first-word {
  margin-left: 40px;
}


/*icon for view it here*/
a:hover .fas {
  color: red;
}

.icon-text {
  margin-left: 15px;
}